.work.section {
    padding-top: 0;
  }
  
  .work-list {
    display: flex;
    margin-left: -30px;
  }
  
  .work-list__item {
    position: relative;
    margin-left: 30px;
  }
  
  .work-list__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    /* щоб займав всю ширину лі */
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background: rgba(47, 48, 58, 0.8);
  }
  
  .work__title {
    margin-bottom: 50px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    text-align: center;
    letter-spacing: 0.03em;
  }
  