/* CONTAINER */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    // width: 100%;

   @media screen and (min-width: 480px) {
       width: $mobile;
   }
   
   @media screen and (min-width: 768px) {
       width: $tablet;
   }

   @media screen and (min-width: 1200px) {
      width: $desktop;
}
  }